/**
 * General styles
 */
* {
    box-sizing: border-box;
    font-style: Arial, Helvetica, sans-serif;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
  list-style-type: none;
}
/**
 * Mobile styles
 */
@media only screen and (max-width: 511px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
/**
 * Desktop styles
 */
 @media only screen and (min-width: 512px) {
   .col-d-1 {width: 8.33%;}
   .col-d-2 {width: 16.66%;}
   .col-d-3 {width: 25%;}
   .col-d-4 {width: 33.33%;}
   .col-d-5 {width: 41.66%;}
   .col-d-6 {width: 50%;}
   .col-d-7 {width: 58.33%;}
   .col-d-8 {width: 66.66%;}
   .col-d-9 {width: 75%;}
   .col-d-10 {width: 83.33%;}
   .col-d-11 {width: 91.66%;}
   .col-d-12 {width: 100%;}
 }
